.conatiner{
     margin: auto;
    /* text-align: center; */
    /* background-color:#dddddd; */
    
}

.btn{
    
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color: #091353;
    border-radius: 10%;
    
}
.btn1{

    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color: #091353;
    border-radius: 10%;
    margin-left:15px;
    
}