h1{
    color:white;
    background-color: #091353;;
    text-align: center;
}


.conatiner{
    /* margin-top: 20px; */
    text-align: center;
    /* margin-left: auto;  */
    width: 500px;
    height: 300px;
    background-color: #D5D5D5;
    margin: auto;
}



.btn{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: #091353;
    border-radius: 10%;
}