

<div class="conatiner">
    <h1>Log in Form</h1>
<div [formGroup]="loginform" (ngSubmit)= "setdata()">
    <label for="username" >First name:</label><br>
    <input  class="inputbox" type="text" id="username" name="username" formControlName="username" ><br>
    <label for="lname">Password:</label><br>
    <input class="inputbox" type="text" id="lname" formControlName="password" >
    </div>
  <br>

  <!-- <div *ngIf="!loginform.get('username')?.valid && !loginform.get('username')?.touched && (!loginform.get('username')?.dirty )">
      <div *ngIf="!loginform.get('password')?.valid  &&!loginform.get('password')?.touched && (!loginform.get('password')?.dirty )">
      
    <div  [hidden]="!loginform.get('username')?.errors?.required" style="color: red;">
       All fild details should be required
    </div>
    </div>
    </div> -->

  <button type="submit" class="btn"  class=" btn btn-primary" (click)="setdata()" [disabled]="!loginform.valid" [routerLink]="['/customer']">Login</button>

</div>
